# MANAGED BY ANSIBLE
[Unit]
Description=Podman container-pihole.service
Wants=network-online.target,syslog.service
After=network-online.target,syslog.service
RequiresMountsFor=/run/containers/storage

[Service]
Restart=always
ExecStart=/usr/bin/podman start -a pihole
ExecStop=/usr/bin/podman stop -t 10 pihole
[Install]
WantedBy=multi-user.target
